{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<script type="text/javascript" src="https://click123.ca/dist/js/snow.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-3WQInM/Ar0RAt1sgQtGkNrtN3Xk6pj3Nl55x61rlzfrpW1hqdTzJhTQlBNGr0MGdYXgT60mB4QzH4Z4M+gBO8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>



<script src="script.js"></script>
<script>
    function fadeOutSnowflakes() {
        // Parcourir les éléments avec un ID allant de "dot0" à "dot9"
        for (let i = 0; i < 10; i++) {
            const dotId = 'dot' + i;
            const dot = document.getElementById(dotId);

            // Si l'élément existe, appliquer une transition de fondu
            if (dot) {
                dot.style.transition = 'opacity 1s';
                dot.style.opacity = 0;

                // Supprimer l'élément après la fin de la transition
                setTimeout(function() {
                    dot.parentNode.removeChild(dot);
                }, 1000);
            }
        }
    }

    // Appeler la fonction après 2 secondes
    setTimeout(fadeOutSnowflakes, 2000);

</script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins:wght@400;500;700&display=swap');



        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        header{
            width:100%;
            display:flex;
            justify-content:space-around;
            align-items: center;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.39);










        }

        header>img{
            width: fit-content;
            height: fit-content;
        }

        header>p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            color: #023E8A;


        }

        @media screen and (max-width:600px){
            header>p{
                font-size:25px ;
            }
        }


        header>h2{
            background-color: #023E8A;
            color: white;
            padding: 1rem 1.5rem;
            border-radius: 25px;
            transition: 0.3s all ease 0s;

        }

        header>h2:hover{

            transition: 0.3s all ease 0s;
            letter-spacing: 2px;
            opacity: 0.8;
        }

        header>h2>a{
            color: white;
            text-decoration: none;
        }

        .fullscreen-bg {
            background: url({{ asset('uploads/background.png') }}) no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 88vh;
            width: 100%;

        }

        .centered-text {
            text-align: center;
            color: #fff;
            font-weight: 800;
            text-shadow: 2px 3px 2px #000000;

        }

        .card{
            width: 332px;
            height: 360px;
            border-radius: 20px;
            box-shadow: -3px 7px 22px rgba(0, 0, 0, 0.25);
            padding:1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 2rem;

        }



        .card>div>img{
            width: 304px;
            height: 172px;
            border-radius: 20px;


        }

        .card>h1{
            font-weight: 500;
            color:#023E8A;
            font-size: 20px;
            padding: 1rem;


        }

        .button{
            width: 300px;
        }

        .card>div>a>button{
            background:#00B4D8;
            padding: 1rem;
            color: white;
            font-weight: 700;
            border-radius: 20px;
            border: none;
            width: 80%;
            margin-top: 30px;
            margin-left: 30px;
            font-size: 20px;


        }

    button{
        cursor:pointer;
        transition: 0.3s all ease 0s;
    }

    button:hover{
        transition: 0.3s all ease 0s;
        letter-spacing: 2px;
        opacity: 0.8;
    }

    .grid{
        display: grid;

    }



        .logo {
            width: 100px;
            object-fit: contain;
        }
        footer {
            display: flex;
            justify-content: space-between;
            background-color: #151D53;
            padding: 1rem;
            border-top: #0dcaf0;
        }
        footer>div>p {
            color: white;
            margin: 1rem;
        }
        footer>ul>li {
            list-style: none;
            color: white;
            margin: 1rem;
        }
        footer>ul>li>a {
            text-decoration: none;
            color: white;
        }

        @media screen and (max-width: 768px) {
            footer {
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
            }
            footer > ul, footer > div {
                width: 100%;
                text-align: center;
            }
        }

        html {
            scroll-behavior: smooth;
        }


        #retour-haut {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #333;
            color: #fff;
            text-align: center;
            font-size: 24px;
            line-height: 50px;
            z-index: 9999;
            cursor: pointer;
        }

        #retour-haut:hover {
            background-color: #666;
        }

        #retour-haut.show {
            display: block;
        }

        #retour-haut span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #retour-haut.show {
            -webkit-animation: fadeIn 0.3s;
            animation: fadeIn 0.3s;
        }

        #retour-haut.hide {
            -webkit-animation: fadeOut 0.3s;
            animation: fadeOut 0.3s;
        }

        @-webkit-keyframes fadeIn {
            from { opacity: 0; transform: translateY(10px); }
            to { opacity: 1; transform: translateY(0); }
        }

        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(10px); }
            to { opacity: 1; transform: translateY(0); }
        }

        @-webkit-keyframes fadeOut {
            from { opacity: 1; transform: translateY(0); }
            to { opacity: 0; transform: translateY(10px); }
        }

        @keyframes fadeOut {
            from { opacity: 1; transform: translateY(0); }
            to { opacity: 0; transform: translateY(10px); }
        }

        .tele{
            display: flex;
            justify-content: end;
            margin-right: 5vw;
            margin-bottom: 30px;
            position: relative;
        }

        .tele::before{
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            background-image: url("{{asset("uploads/fleche.png")}}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            left: 60px;
            bottom:40px;
        }
    </style>
    <header id="top">
        <div></div>
    <p><img src='{{ asset('uploads/logo.png') }}' alt='logo'>Rhône-Alpes</p>
        <h2><a href="{{ path('app_logout') }}">Déconnexion</a></h2>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            <h2><a href="{{ path('admin') }}">Espace Admin</a></h2>
        {% endif %}

    </header>

    <div class="fullscreen-bg">
        <div class="centered-text">
            <h1>Ski, plaisir et montagnes vous attendent !</h1>

        </div>
    </div>






        <ul class="grid">
            {% for domain in domains %}
                <div class="card">
                    <div><img src="{{ asset('uploads/background.png') }}" alt></div>
                    <h1>{{ domain.name }}</h1>
                        <div class="button"><a href="{{ path('app_domain',{'id':domain.id}) }}"><button>Voir plus</button></a></div>

                </div>



            {% endfor %}
        </ul>


<div class="tele"><a href="#top" style="scroll-behavior: smooth;"><img src="{{ asset("/uploads/tele.png") }}" alt> </a></div>

    <footer>
        <img class="logo" src="/uploads/logo.png" alt="">
        <ul>
            {% for domain in domains %}
                <li>
                    <a href="{{ path('app_domain',{'id':domain.id}) }}">
                        {{ domain.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div>
            <p>INFORMATIONS LEGALES</p>
            <p>Formulaire réglementaire d’information sur les droits des voyageurs</p>
            <p>Conditions de vente et Erratum</p>
            <p>Charte de Protection des Données</p>
        </div>
        <div>

            <p>Charte Cookies</p>
            <p>Informations légales</p>
            <p>Gestion des consentements cookies</p>
        </div>

    </footer>






{% endblock %}
