{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins:wght@400;500;700&display=swap');



        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        header{
            width:100%;
            display:flex;
            justify-content:space-around;
            align-items: center;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.39);










        }

        header>img{
            width: fit-content;
            height: fit-content;
        }

        header>p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            color: #023E8A;


        }

        @media screen and (max-width:600px){
            header>p{
                font-size:25px ;
            }
        }


        header>h2{
            background-color: #023E8A;
            color: white;
            padding: 1rem 1.5rem;
            border-radius: 25px;
            transition: 0.3s all ease 0s;

        }

        header>h2:hover{

            transition: 0.3s all ease 0s;
            letter-spacing: 2px;
            opacity: 0.8;
        }

        header>h2>a{
            color: white;
            text-decoration: none;
        }

        .fullscreen-bg {
            background: url({{ asset('uploads/background.png') }}) no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 88vh;
            width: 100%;

        }

        .centered-text {
            text-align: center;
            color: #fff;
            font-weight: 800;
            text-shadow: 2px 3px 2px #000000;

        }

        .card{
            width: 332px;
            height: 360px;
            border-radius: 20px;
            box-shadow: -3px 7px 22px rgba(0, 0, 0, 0.25);
            padding:1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 2rem;

        }



        .card>div>img{
            width: 304px;
            height: 172px;
            border-radius: 20px;


        }

        .card>h1{
            font-weight: 500;
            color:#023E8A;
            font-size: 20px;
            padding: 1rem;


        }

        .button{
            width: 300px;
        }

        .card>div>a>button{
            background:#00B4D8;
            padding: 1rem;
            color: white;
            font-weight: 700;
            border-radius: 20px;
            border: none;
            width: 80%;
            margin-top: 30px;
            margin-left: 30px;
            font-size: 20px;


        }

    button{
        cursor:pointer;
        transition: 0.3s all ease 0s;
    }

    button:hover{
        transition: 0.3s all ease 0s;
        letter-spacing: 2px;
        opacity: 0.8;
    }

    .grid{
        display: grid;
        repeat()
    }



    </style>
    <header>
        <div></div>
    <p><img src='{{ asset('uploads/logo.png') }}' alt='logo'>Rhône-Alpes</p>
        <h2><a href="{{ path('app_logout') }}">Déconnexion</a></h2>

    </header>

    <div class="fullscreen-bg">
        <div class="centered-text">
            <h1>Ski, plaisir et montagnes vous attendent !</h1>

        </div>
    </div>






        <ul class="grid">
            {% for domain in domains %}
                <div class="card">
                    <div><img src="{{ asset('uploads/background.png') }}" alt></div>
                    <h1>{{ domain.name }}</h1>
                        <div class="button"><a href="{{ path('app_domain',{'id':domain.id}) }}"><button>Voir plus</button></a></div>

                </div>



            {% endfor %}
        </ul>







{% endblock %}
