{% extends 'base.html.twig' %}

{% block title %}{{ slope.name }}{% endblock %}

{% block body %}
<style>
    *{
        text-align: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    li{
        list-style: none;
        margin-bottom: 15px;
    }

    header{
        width:100%;
        display:flex;
        justify-content:space-around;
        align-items: center;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.39);










    }

    header>img{
        width: fit-content;
        height: fit-content;
    }

    header>p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        color: #023E8A;


    }

    @media screen and (max-width:600px){
        header>p{
            font-size:25px ;
        }
    }


    header>h2{
        background-color: #023E8A;
        color: white;
        padding: 1rem 1.5rem;
        border-radius: 25px;
        transition: 0.3s all ease 0s;

    }

    header>h2:hover{

        transition: 0.3s all ease 0s;
        letter-spacing: 2px;
        opacity: 0.8;
    }

    header>h2>a{
        color: white;
        text-decoration: none;
    }


    .flex {
        display: flex;
        justify-content: space-between;
        background-color: #151D53;
        padding: 1rem;
        border-bottom: #0dcaf0;
    }

    h1{
        color: #efd01d;
        margin-left: 40px;
    }
    .title-station{
        color: #000000;
        padding: 10px 30px;
        border-radius: 15px;
        margin-bottom: 50px;
    }
    h2>a{
        color: white;
        text-decoration: none;
    }


    .shesh{
        margin: 1rem;
        background-color: gray;
        padding: 1rem;
        border-radius: 30px;
        width: fit-content;
    }
    .shesh>a{
        text-decoration: none;
        color: white;

    }
    .logo {
        width: 100px;
        object-fit: contain;
    }
    footer {
        display: flex;
        justify-content: space-between;
        background-color: #151D53;
        padding: 1rem;
        border-top: #0dcaf0;
    }
    footer>div>p {
        color: white;
        margin: 1rem;
    }
    footer>ul>li {
        list-style: none;
        color: white;
        margin: 1rem;
    }
    footer>ul>li>a {
        text-decoration: none;
        color: white;
    }

    @media screen and (max-width: 768px) {
        footer {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
        footer > ul, footer > div {
            width: 100%;
            text-align: center;
        }
    }
    .li-closed{
        font-size: 16px;
        font-weight: bold;
        border-radius: 9px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline;
        background-color: #ff0000;
        color: white;
    }
    .li-open{
        font-size: 16px;
        font-weight: bold;
        border-radius: 9px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline;
        background-color: #00bb1d;
        color: white;
    }
    .list {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        border-radius: 9px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: inline-block;
        gap: 5%;
        margin-top: 50px;
        margin-bottom: 50px    ;
    }
    .horaires{
        gap: 5px;
        display: flex;
    }
    .clock{
        font-weight: bold;
    }

    .slopes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .slope{
        padding: 10px;
        text-align: center;
    }

    .slope>a{
        text-decoration: none;
        color: black;
        transition: ease 0.3s;
    }

    .slope>a:hover{
        text-decoration: none;
        color: #0080ff;
    }

    @media (max-width: 767px) {
        .slopes {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .slopes {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .msg{
        margin-top: 15px;
    }

</style>


    <header>
        <p><img src='{{ asset('uploads/logo.png') }}' alt='logo'>Rhône-Alpes</p>
        <h2><a href="{{ path('app_logout') }}">Déconnexion</a></h2>
    </header>

    <p class="shesh"><a href="{{ path('app_station', {'id': slope.station.id}) }}">Retour aux pistes</a></p>


    <h2>{{ slope.name }}</h2>
<div class="example-wrapper">
    <ul class="list">
        <li>Type : {{ slope.type }}</li>
        <li>Niveau : {{ slope.level }}</li>
        {% if slope.isopen %}
            <li class="li-open">Piste Ouverte : Oui</li>
        {% else %}
            <li class="li-closed">Piste Ouverte : Non</li>
        {% endif %}
        <li class="msg">Message : {{ slope.message }}</li>
        {% if slope.isseason %}
            <li>Saison : Saison des ski</li>
            {% if slope.isopen %}
                <li class="horaires">Ouvert de <p class="clock"> {{ slope.opening|date('H:i') }}</p> à <p class="clock">{{ slope.closing|date('H:i') }}</p></li>
            {% else %}
                <li></li>
            {% endif %}
        {% else %}
            <li>Saison : Saison hors ski</li>
            <li>Fermé</li>
        {% endif %}
    </ul>

    <h2 class="title-station">Autre pistes de la station : {{ slope.station.name }} </h2>
    <ul class="slopes">
        {% for s in slope.station.slopes %}
            {% if s.id != slope.id %}
                <li class="slope">
                    <a href="{{ path('app_slope', {'id': s.id}) }}">
                        {{ s.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
    <footer>
        <img class="logo" src="/uploads/logo.png" alt="">
        <ul>
            {% for domain in domains %}
                <li >
                    <a href="{{ path('app_domain',{'id':domain.id}) }}">
                        {{ domain.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div>
            <p>INFORMATIONS LEGALES</p>
            <p>Formulaire réglementaire d’information sur les droits des voyageurs</p>
            <p>Conditions de vente et Erratum</p>
            <p>Charte de Protection des Données</p>
        </div>
        <div>

            <p>Charte Cookies</p>
            <p>Informations légales</p>
            <p>Gestion des consentements cookies</p>
        </div>

    </footer>
{% endblock %}
