

{% extends 'base.html.twig' %}

{% block title %}Toutes les pistes de {{ station.name }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;


        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .flex {
            display: flex;
            justify-content: space-between;
            background-color: #151D53;
            padding: 1rem;
            border-bottom: #0dcaf0;
        }

        h1{
            color: #efd01d;
            margin-left: 40px;
        }
        h2{
            background-color: red;
            color: white;
            padding: 10px 30px;
            border-radius: 30px;

        }
        h2>a{
            color: white;
            text-decoration: none;
        }
        h2:hover{
            transform: scale(1.2,1.2);
            transition: all 0.3s ease 0s;
        }

        .ul1{
            margin: 40px;
            background-color: #d9be34;
            color: #0f172a;
            padding: 1rem;
            width: fit-content;
            margin: auto;



        }

        .ul1>li{
            font-size: 1.3em;
            list-style-type: none;
        }

        .grid{
            display: grid;
            grid-template-columns: repeat(1, 40vw);
            margin: auto;
            gap: 20px;
            justify-content: center;
            margin-top: 40px;

        }

        .grid>li{
            list-style-type: none;
            background-color: #151D53;
            padding: 1rem;

        }
        .grid>li>a{
            display: block;
            text-decoration: none;
            color: white;
        }

        .shesh{
            margin: 1rem;
            background-color: gray;
            padding: 1rem;
            border-radius: 30px;
            width: fit-content;
        }
        .shesh>a{
            text-decoration: none;
            color: white;

        }

        .uwu{
            margin: 1rem;

        }

        .uwu>a>button{
            background-color: lightblue;
            border: none;
            padding: 1rem;
            border-radius: 30px;
            cursor: pointer;
        }
    </style>


    <div class="flex"><h1>Toutes les pistes de {{ station.name }}</h1>
    <h2><a href="{{ path('app_logout') }}">Déconnexion</a></h2></div>
    <p class="shesh"><a href="{{ path('app_domain', {'id': station.domain.id}) }}">Retour aux stations</a></p>
    

    <div class="example-wrapper grid">

        {% for slope in station.slopes %}
            <li>
                <a href="{{ path('app_slope', {'id': slope.id}) }}">
                    {{ slope.name }}
                </a>
            </li>
        {% endfor %}

    <h2>Les remontées de la station : {{ lift.station.name }} </h2>
        <ul>
            {% for l in lift.station.lifts %}
                {% if l.id != lift.id %}
                    <li>{{ l.name }}</li>
                    <li>Type: {{ l.type }}</li>
                    {% if l.isopen %}
                        <li>Remontée Ouverte: Oui</li>
                    {% else %}
                        <li>Remontée Ouverte: Non</li>
                    {% endif %}
                    <li>Message: {{ l.message }}</li>
                    {% if l.isseason %}
                        <li>Saison : Saison des ski</li>
                        {% if l.isopen %}
                            <li>Ouvert de {{ l.opening|date('H:i') }} à {{ l.closing|date('H:i') }}</li>
                        {% else %}
                            <li>Fermé</li>
                        {% endif %}
                    {% else %}
                        <li>Saison : Saison hors ski</li>
                        <li>Fermé</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        
    </div>

{% endblock %}
